fastapi[standard]
pydantic[email]
pydantic-settings
python-dotenv
{{- if .IncludeSQLAlchemy }}
sqlalchemy
alembic
psycopg2-binary
{{- end }}
{{- if .IncludeMongoDB }}
beanie
motor
{{- end }}
httpx
pytest
