from fastapi import APIRouter, Depends
from sqlalchemy.orm import Session
from app.schemas.item import ItemCreate, ItemRead
from app.services.item_service import ItemService
from app.db.session import get_db

router = APIRouter()

@router.get("", response_model=list[ItemRead])
def list_items(db: Session = Depends(get_db)):
    return ItemService.get_all(db)

@router.post("", response_model=ItemRead)
def create_item(item: ItemCreate, db: Session = Depends(get_db)):
    return ItemService.create(db, item)
